[settings]
known_third_party = aenum,aiofiles,backend,bs4,containers,dependency_injector,dotenv,enochecker_core,flask,flask_restful,httpx,jsons,main,matplotlib,numpy,paramiko,pyfakefs,pytest,requests,rich,scipy,selenium,setup,simulation,tenacity,types_,webdriver_manager
