[MESSAGES CONTROL]
disable=
    fixme,
    line-too-long,
    missing-module-docstring,
    missing-class-docstring,
    consider-using-with,
    import-error,
    no-else-return,
    broad-exception-caught,
    too-few-public-methods,
    too-many-ancestors
