numpy==1.26.4
beautifulsoup4==4.11.1
CurrencyConverter==0.17.9
matplotlib==3.7.0
Requests==2.31.0
rich==13.6.0
tenacity==8.2.2
urllib3==2.1.0
sv_ttk==2.6.1
tksheet==7.5.12
nodejs-bin==18.4.0a4
ttk-text==0.2.0
requests-cache==1.2.1
